body {
    box-sizing: border-box;
    font-family: cursive;
    margin: 0rem;
    color: var(--black);
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}


:root {
    --primary:#F59E0B;
    --black:black;
    --width-break:600px;
}

nav {
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin: 2rem 0rem;
    font-size: large;
    font-family: inherit;
    padding: 1rem;
}

button {
    display: block;
    margin: auto;
    padding: 1rem;
    background-color: var(--primary);
    font-family: inherit;
}

#output {
    border: 1px solid black;
    display: block;
    height: 10vh;
    margin-top: 2rem;
    padding: 1rem;
    overflow:auto;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer div {
    font-size: 2rem;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}

