html {
  height:100%;
}

body {
    box-sizing: border-box;
    font-family: cursive;
    margin: 0rem;
    color: var(--black);
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    width: 100%;
}


:root {
    --primary:#F59E0B;
    --black:black;
    --width-break:600px;
}

nav {
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

textarea {
    box-sizing: border-box;
display: block;
width: 40%;
min-height: 20vh;
font-size: large;
font-family: inherit;
padding: 1rem;
margin: auto;
}

button {
    display: block;
    margin: auto;
    padding: 1rem;
    background-color: var(--primary);
    font-family: inherit;
}

#output {
  border: 1px solid black;
  display: block;
  height: 15vh;
  padding: 1rem;
  word-break: break-all;
  overflow: auto;
  width: 40%;
  margin: auto;
}

footer {
  margin-top: auto;
  padding: 1rem 0rem;
  background-color: var(--primary);
  text-align: center;
}

footer div {
    font-size: 2rem;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}

